
body {
    font-family: "Tillana", serif;
    font-weight: 500;
    font-style: normal;

    padding-bottom: 100px; /* Para ajustar la altura del footer */
}


h2{
    text-align: center;
    font-weight: bold;
}