/* Importación fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Tillana:wght@400;500;600;700;800&display=swap');


body {
    font-family: "Tillana", serif;
    font-weight: 500;
    font-style: normal;

    padding-bottom: 100px; /* Para ajustar la altura del footer */
}


h2{
    text-align: center;
    font-weight: bold;
}

html{
    scroll-behavior: smooth;
}

.botonSubir{
    position: fixed;
    bottom: 90px;
    left: 95%;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 100%;
}
.botonSubir:hover {
    background-color: #0056b3;
}