/* Importación fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Tillana:wght@400;500;600;700;800&display=swap');


body {
    font-family: "Tillana", serif;
    font-weight: 500;
    font-style: normal;

    padding-bottom: 100px; /* Para ajustar la altura del footer */
}


h2{
    text-align: center;
    font-weight: bold;
}

/* IMAGENES SEC ACTIVIDADES */
.imgAct {
    /*width: 440.000px;
    height: 251.367px;*/
    width: 100%;
    height: 300px;
    border-radius: 5px;
}


/* COOKIES */
body.cookies {
    padding: 50px;
    background-color: #121212;
    color: #f4f4f4;
}

body.cookies a {
    color: #bbbbbb;     /* Enlaces gris claro */
    text-decoration: none; /* Sin subrayado */
}

body.cookies a:hover {
    color: #f1c40f;     /* Amarillo suave al pasar el ratón */
    text-decoration: underline;
}


html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


/* BOTON SUBIR */
.botonSubir{
    position: fixed;
    bottom: 90px;
    left: 95%;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 100%;
}
.botonSubir:hover {
    background-color: #0056b3;
}
