/* Estilos menú sup y footer*/ 
* {
    margin: 0px;
}

.cabecera {
    background-color: #e68019;
    text-align: center;
}

#logo img {
    height: 80px;  /* Ajusta la altura según necesites */
    width: auto;   /* Mantiene la proporción original */
}
#logo1{
    margin-right: 420px; /* Espacio entre el logo y el menú */
}


.cabecera nav ul {
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 300px; /* Espacio entre el menú y el borde*/

    margin-bottom: 100px;

}

.cabecera nav li {
    display: inline-block;
    margin: 10px;
}

.cabecera nav li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: grey;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
}

.cabecera nav li a:hover {
    background-color: lightgray;
    color: black;
    transform: scale(1.1);
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #e68019;
    padding: 10px 40px; /* Más margen a los lados */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

/* Contenido de la izquierda (Copyright + Política de cookies) */
.pieIzq {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre el texto y el enlace */
    margin-left:110px;
}

.pieIzq p {
    margin: 0;
    color: black;
}

.pieIzq a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Redes sociales a la derecha */
.pie {
    margin-right:200px;
}

.pie ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Espacio entre los iconos */
}



