



/* Estilos para la ventana modal */
.modal {
    display: none; /* Oculta la ventana modal, con fixed no se podria cerrar */
    position: fixed; /*Fijamos la posicion */
    z-index: 10;     /*Ubica el elemento sobre el resto, al no haber más z-index en el código, podría no ser necesario  */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    background-color: white;
    margin: 8% auto;   /* Auto para mantener la ventana siempre centrada, aplica un margen sup porcentual al tamaño pantalla */
    
    max-height: 60vh; /* Controla la altura máxima */
    overflow-y: auto; /* Permite scroll vertical si no entra todo el contenido*/

    padding: 20px;
    width: 50%;

    border-radius: 10px;
    text-align: center;
}

/* Mostrar modal cuando es objetivo del enlace */
.modal:target {
    display: flex;
}

/* Botón de cierre */
.cerrar {
    color: red;
    font-size: 28px;
    text-decoration: none;
    float: right;
}

.cerrar:hover {
    color: darkred;
}


